[submodule "content"]
	path = content
	url = https://github.com/parsiya/Parsia-Clone
[submodule "themes/Hugo-Octopress"]
	path = themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
