[submodule "content"]
	path = content
	url = git@github.com:parsiya/Parsia-Clone.git
[submodule "themes/Hugo-Octopress"]
	path = themes/Hugo-Octopress
	url = git@github.com:parsiya/Hugo-Octopress.git
