{{ partial "header.html" . }}
{{ $baseUrl := .Site.BaseURL }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <nav id="TableOfContents">
          <ul class="doc-list-category">
            <!-- Sort by value -->
            {{ range sort ($.Site.GetPage "taxonomyTerm" "categories").Pages "value" }}
              <li><a href="{{ .Permalink }}">{{ .Title | title }}</a>
              {{ with .Params.snippet }}: {{ . }}{{ end }}
                <ul>
                  {{ range sort .Pages "value" }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}{{ with .Params.wip }} - WIP{{ end }}</a></li>
                    <span class="doc-entry-meta">{{ with .Params.snippet }}{{ . | markdownify }}{{ end }}</span>
                  {{ end }}
                </ul>
              </li>
            {{ end }}
          </ul>
        </nav>
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}
